<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @fast_track_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fast_track_application.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @fast_track_application.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @fast_track_application.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fast_track_application.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @fast_track_application.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @fast_track_application.gender %>
</p>

<p>
  <strong>One line:</strong>
  <%= @fast_track_application.one_line %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @fast_track_application.reason %>
</p>

<p>
  <strong>Info:</strong>
  <%= @fast_track_application.info %>
</p>

<p>
  <strong>Passion:</strong>
  <%= @fast_track_application.passion %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @fast_track_application.experience %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @fast_track_application.challenge %>
</p>

<p>
  <strong>Special:</strong>
  <%= @fast_track_application.special %>
</p>

<p>
  <strong>Links:</strong>
  <%= @fast_track_application.links %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @fast_track_application.referral %>
</p>

<p>
  <strong>Visa:</strong>
  <%= @fast_track_application.visa %>
</p>

<p>
  <strong>Programme choice:</strong>
  <%= @fast_track_application.programme_choice %>
</p>

<%= link_to 'Edit', edit_fast_track_application_path(@fast_track_application) %> |
<%= link_to 'Back', fast_track_applications_path %>
