<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Partnership Request Received</h1>
    	<p>
    	  <strong>Name</strong>
    	  <%= @partner.name %>
    	</p>

    	<p>
    	  <strong>Email:</strong>
    	  <%= @partner.email %>
    	</p>

    	<p>
    	  <strong>Phone:</strong>
    	  <%= @partner.phone %>
    	</p>

    	
    	<p>
    	  <strong>Company:</strong>
    	  <%= @partner.company %>
    	</p>

        <p>
          <strong>Message:</strong>
          <%= @partner.message %>
        </p>
  </body>
</html>