<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :lead %>
    <%= f.input :content %>
    <%= f.input :image %>
    <%= f.input :slug %>
    <%= f.input :publish %>
    <%= f.input :published_date %>
    <%= f.association :author %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
