<h1>Listing posts</h1>
<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publish</th>
      <th>Published</th>
      <th>Views</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.author %></td>
        <td><%= '<i class="fa fa-check"></i>'.html_safe if post.publish %></td>
        <td><%= post.published_date.strftime('%d/%b/%y') %></td>
        <td><%= post.impressions_count %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_post_path(post) %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2>Import posts</h2>
<%= form_tag import_posts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Posts" %>
  <% end %>

