<% active_nav_item :blog %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-title text-center">Coder Factory Blog</h2>
		</div>
	</div>
	<div class="row">
		<% @posts.each_with_index do |post, index| %>
			<% if index%2 == 0 %>
				</div>
				<div class="row">
			<% end %>	
			  <div class="col-sm-6">
			    <div class="thumbnail choose-course">
			      <a href="/posts/<%= post.slug %>"><img src="<%= post.image %>" alt="<%= post.title %>" ></a>
			      <div class="caption">
			        <h3><a href="/posts/<%= post.slug %>"><%= post.title %> </a></h3>
			        <p><span class="phone-inverse"><%= post.lead %></span></p>

			       	<div class="row">
			       		<div class="col-xs-3">
			        		<p><a href="/posts/<%= post.slug %>" class="btn btn-info btn-block">Read <i class="fa fa-arrow-right"></i> </span></a></p>
			        	</div>
			        	
					    </div>
			      </div>
			    </div>
			  </div>
			
		<% end %>
	</div>
	<div class="apple_pagination">
		<%= will_paginate @posts %>
	</div>
</div>